.welcome-container {
  margin-top: 5rem ; 
  margin-bottom: 10rem ;
  width: 60%;
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
  padding: 3rem 2rem;
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  box-shadow: 1px 3px 4px grey;
}

.bottom {
  position: fixed;
  bottom: -20px; 
  right: -60px; 

}
  
  /* This targets any h1 that is a child of an element with the .welcome-container class */
  .welcome-container > h1 {
    display: flex;
    flex-direction: column;
 
  }
  
  /* This targets any div that is a child of an element with the .welcome-container class */
  .welcome-container > div {
    font-style: italic;
  }

  .app-logo {
    max-width: 100%;
    height: auto; 
}

@media (max-width: 768px) { 
    .app-logo {
        height: 200px; 
    }
}

p {
  font-size: 1.2rem;
}


  .about {
    font-family: "Quicksand", sans-serif;
  }

  .cat {
    animation: float 4s ease-in-out infinite;
    width: 200px;
  }

 
  .about-container {
    margin-top: 1rem ; 
    margin-bottom: 5rem;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

.welcome-container, .project-container {
    padding: 1rem;
    border: 1px solid var(--outline);
    background-color: rgb(95, 170, 224);
    border-radius: 0.5rem;
    box-shadow: 1pc 3px 4px rgb(61, 61, 61);
    margin-bottom: 2rem; 
}

.project {
    margin-bottom: 2rem; 
}

@media (max-width: 768px) {
    .about-container {
        width: 90%; 
    }

    .welcome-container, .project-container {
        padding: 2rem;
    }
}

.resume-container {
  margin-top: 1rem ; 
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; 
  padding: 3rem;
.profile h2 {
  margin-top: 0;
}

.section {
  margin-top: 40px;
  
}

.section h3 {
  margin-bottom: 10px;
}

.section div {
  margin-bottom: 20px;
}

.section div h4 {
  margin-top: 0;
}
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(97, 143, 195), #1628c8);
  z-index: -1;
}

.project-link {
  color: #aeabab;
  text-decoration: underline;
}

.project-link:hover {
  color: #f0f0f0;
}
