.welcome-container {
  margin-top: 10rem ; 
  margin-bottom: 10rem ;
  width: 60%;
  margin-left: auto; 
  margin-right: auto; 
  text-align: center;
  padding: 5rem 3rem;
  border: 1px solid var(--outline);
  background-color: rgb(33, 224, 65);
  border-radius: 0.5rem;
  box-shadow: 1pc 3px 4px grey;
}

  
  /* This targets any h1 that is a child of an element with the .welcome-container class */
  .welcome-container > h1 {
    display: flex;
    flex-direction: column;
    color:  rgb(72, 0, 255);
  }
  
  /* This targets any div that is a child of an element with the .welcome-container class */
  .welcome-container > div {
    font-style: italic;
  }

  .app-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .about {
    font-family: "Quicksand", sans-serif;
  }

  .cat {
    animation: float 4s ease-in-out infinite;
    width: 200px;
  }